html body{
  background-color: #ffffff;
}


.btn-primary{
  color: #232F3E;
  border-color: #232F3E;
}

.btn-primary:hover{
  color: white;
  background-color: #232F3E;
  border-color: #232F3E;
}

.btn-primary.btn-outline {
    color: #232F3E;
}

.btn-primary.btn-outline:hover {
    color: white;
}

.btn.btn-primary:disabled{
    border-color: #232F3E;
    background-color: #e9ecef;
}

.btn-danger{
  color: #ff9900;
  border-color: #ff9900;
}

.btn-danger:hover{
  color: white;
  background-color: #ff9900;
  border-color: #ff9900;
}

.btn-danger.btn-outline {
    color: #ff9900;
}

.btn-danger.btn-outline:hover {
    color: white;
}

.btn.btn-danger:disabled{
    border-color: #ff9900;
    background-color: #e9ecef;
}


.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}


.onhover{
  cursor: pointer;
}

.navbar-logo {
  background: transparent url("./aws.png") no-repeat scroll 0 0;
  background-position: 8px 8px;
  display: block;
  width: 80px;
  height: 45px;
  border: 0;
}

.navbar-logo-login {
  background-position: 15px 15px;
}

.text-title {
  color: #dbdbdb !important;
  position: absolute;
  top: 5px;
  left: 120px;
}

#navbarNavDropdown {
  position: absolute;
  top: -44px;
  right: 260px;
  cursor: pointer;
}

.stage-nav {
  float: left;
  position: absolute;
  right: 50%;
  top: 18px;
  z-index: 100;
  font-size: 2em;
  font-weight: bold;
}

.stage-nav-left {
  margin-right: 25px;
}

.stage-nav-right {
  margin-right: -45px;
}

.hide {
    display: none;
}

.dropdown-toggle {
  width:150px;
}

.dropdown-menu {
  left: 90px !important;
  top: 40px !important;
}

.bg-orange{
  background: #FF9900;
}

.block-events-full {
  float: left;
  position: fixed;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  z-index: 999;
  background-color: #D1D1D1;
  padding: 5px;
  color: #D1D1D1;
  font-weight: bold;
  opacity: 0.5;
}

.block-events {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  z-index: 999;
  background-color: #FFFFFF;
  padding: 5px;
  color: #FFFFFF;
  font-weight: bold;
  opacity: 0.5;
}

.dialog-box {
  background-color: #FFFFFF;
  color: #000000;
  position: fixed;
  left: 0;
  top:100px;
  right: 0;
  margin:auto;
  max-width: 400px;
  height: 400px;
  z-index: 1000;
  padding: 15px;
  margin-top: 20px;
  border:1px solid black;
  border-radius:5px;
  opacity: 0%;
}

.alert-box {
  position: fixed;
  left: 0;
  right: 0;
  margin:auto;
  max-width: 50%;
  z-index: 1000;
  padding: 15px;
  margin-top: 20px;
  font-weight: bold;
}

.alert-box-close {
  position: absolute;
  top: 0px;
  right: 0px;
}

.text-orange{
  color: #FF9900;
}

.aws-dark{
  background: #131A22
}

.aws-charcoal{
  background: #232F3E
}

.bg-mellow {
  background:#FEBD69
}

.bg-charcoal {
  background:#37475A
}

.bg-grey {
  background:#D7D7D7
}

.tableFixHead thead {
  border-top: none;
}
.tableFixHead {
  overflow-y: auto;
  height: calc(100vh - 275px);
}

.tableFixHead table {
  border-collapse: collapse;
  width: 100%;
}

.tableFixHead th,
.tableFixHead td {
  padding: 10px 16px;
  cursor: pointer;
}

.tableFixHead th {
  position: sticky;
  top: 0;
  background: #fff;
  padding: 16px 5px;
}

.service-list {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Progress Bar */
.bs-wizard {margin-top: 40px; margin-right: 0px; cursor: pointer;}
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
