.login {
  width: 300px;
}

form {
  width: 100%;
}

.login-title {
  color: white;
  position: relative;
  top: -50px;
  left: 90px;
}

.login-header {
  border-radius: 10px 10px 0px 0px;
}

.login-box{
  border-radius: 12px;
  border: 1px solid #232F3E;
}


a {
  color: #232F3E !important;
}

a:hover {
  text-decoration: none;
}
