<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="main.css">

  <!-- Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <meta charset="utf-8">
  <title></title>
</head>

<body>

  <div id="root" class="container-fluid px-0">


    <!-- Nav View -->
    <div id="factory-nav" class="container-fluid aws-dark">
      <span class="navbar-brand text-title pt-2"><h4>AWS Migration Factory - Stage-2 Discover</h4></span>
      <nav class="navbar navbar-expand-lg navbar-light float-right py-0 my-0 mt-1">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse pull-right" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-title pt-2" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Application List
                </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Server List</a>
                <a class="dropdown-item" href="#">Admin</a>
                <a class="dropdown-item" href="#">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- END Nav View -->


    <!-- Progress Bar -->
    <div class="row bs-wizard py-0 my-0 py-1 aws-charcoal" style="border-bottom:0;">

        <div class="col-2 bs-wizard-step complete" data-bs-wizard-step="1">
            <div class="text-center bs-wizard-stepnum">Pre-migration</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a class="bs-wizard-dot"></a>
        </div>
        <div class="col-2 bs-wizard-step active" data-bs-wizard-step="2">
            <div class="text-center bs-wizard-stepnum text-warning">Discover</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a class="bs-wizard-dot"></a>
        </div>
        <div class="col-2 bs-wizard-step disabled" data-bs-wizard-step="3">
            <div class="text-center bs-wizard-stepnum">Design</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a class="bs-wizard-dot"></a>
        </div>
        <div class="col-2 bs-wizard-step disabled" data-bs-wizard-step="3">
            <div class="text-center bs-wizard-stepnum">Build / Validate</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a class="bs-wizard-dot"></a>
        </div>
        <div class="col-2 bs-wizard-step disabled" data-bs-wizard-step="3">
            <div class="text-center bs-wizard-stepnum">Cutover</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a class="bs-wizard-dot"></a>
        </div>
        <div class="col-2 bs-wizard-step disabled last-step" data-bs-wizard-step="3">
            <div class="text-center bs-wizard-stepnum">Post-migration</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a class="bs-wizard-dot"></a>
        </div>
    </div>
    <!-- END Progress Bar -->


    <div class="container-fluid">
      <div class="row">
        <div class="col-3">


          <!-- List View -->
          <div class="container-fluid rounded service-list">

            <div class="form-group pt-3">
              <label htmlFor="waveId">Select Migration Wave:</label>
              <select class="form-control form-control-sm" id="waveId">
                <option>None</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <div class="tableFixHead">
              <table class="table table-hover">


                <tbody>
                  <tr style="background:#D7D7D7">
                    <td>Application 1</td>
                  </tr>
                  <tr>
                    <td>Application 2</td>
                  </tr>
                  <tr>
                    <td>Application 3</td>
                  </tr>
                  <tr>
                    <td>Application 3</td>
                  </tr>
                  <tr>
                    <td>Application 3</td>
                  </tr>
                  <tr>
                    <td>Application 3</td>
                  </tr>
                  <tr>
                    <td>Application 3</td>
                  </tr>
                  <tr>
                    <td>Application 3</td>
                  </tr>
                  <tr>
                    <td>Application 3</td>
                  </tr>
                  <tr>
                    <td>Application 3</td>
                  </tr>
                  <tr>
                    <td>Application 3</td>
                  </tr>
                  <tr>
                    <td>Application 3</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
          <!-- END List View -->


        </div>
        <div class="col-9">

          <!-- TAB View -->
          <div class="pt-3">
            <h4>> Application 1</h4>
          </div>

          <div id="factory-tab" class="container-fluid rounded  py-3 px-0">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" href="#">Application Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Servers</a>
              </li>
            </ul>
            <div id="factory-tab-container" class="container-fluid rounded bg-white py-3">
              <div class="row px-3 pt-3"> <h3>Application 1 > Server List</h3></div>
              <div class="row px-3 pt-3">
                <div class="col-4 px-0 pr-5">
                    <table class="table table-hover">
                      <tbody>
                        <tr style="background:#D7D7D7">
                          <td>Server 1</td>
                        </tr>
                        <tr>
                          <td>Server 2</td>
                        </tr>
                        <tr>
                          <td>Server 3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-8">
                    <form>
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label htmlFor="serverName">Server Name:</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter server name" value="Server 1" ref="serverName">
                          </div>
                          <div class="form-group">
                            <label htmlFor="instanceType">Status:</label>
                            <select class="form-control form-control-sm" id="instanceType">
                              <option>r4.xlarge</option>
                              <option>r4.2xlarge</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label htmlFor="serverStatus">Status:</label>
                            <select class="form-control form-control-sm" id="serverStatus">
                              <option>Discover Done</option>
                              <option>Pre Done</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label htmlFor="serverOS">Server OS:</label>
                            <input type="text" class="form-control form-control-sm" value="Windows" placeholder="Server Operating System" ref="serverOS">
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="row">
                      <div class="col-3">
                        <input class="btn btn-primary btn-outline mt-3" type="button" value="Save Server">
                      </div>
                   </div>
                  </div>
                </div>
            </div>
          </div>
          <!-- END TAB View -->


        </div>
      </div>
    </div>
  </div>
</body>

</html>
